.footer{
    width: auto;
    height: auto;
    justify-content: flex-start;
    background-color: #2eca6b;
}

.patrocinador, .colaboración{
    margin-left: 2em;
    margin-top: 1em;
    font-size: 10px;
    color: white;
}

.ideafest, .casfid, .congress, .cars, .enter{
    width: auto;
    height: 70px;
    display: inline-flex;
}

.congress, .cars, .enter{
    margin-left: 13px;
}