.new_box{
    width: auto;
    height: auto;
}

h4{
    display: flex;
    justify-content: center;
}


.noticias{
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 4/1;
    object-fit:scale-down;
}